form {
    font-family: Arial;
}

.title {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #666666;
}

/* LOGIN PAGE STYLES START */
.loginPage {
    height: 100%;
    position: relative;
    color: #1264a9;
}

/* start login page top */
.loginLogo {
    height: 10em;
}
/* end login page top */

/* start login page middle */
.loginPageMiddle {
    padding: 1em;
}

.loginPageMiddleCenter {
    display: inline-block;
}

.loginBoxDiv { /* the div wrapper around the login table */
    background-color: #1264a9;
    border-radius: 2em;
    padding: 2em;
    height: 19em;
    width: 40em;
}

.loginBox { /* login table */
    height: 100%;
    width: 100%;
    color: white;
}

/* start login table classes*/
.loginLabel {
    text-align: left;
    font-size: 1.35em;
}

.loginTextbox {
    text-align: left;
}

.forgotPassword {
    text-align: right;
}

.forgotPassword a:link {
    font-weight: normal;
    font-family: Arial;
    font-size: 1.1em;
}

.forgotPassword a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: inherit;

}

.forgotPassword a:hover{
    color: white;
    font-size: 1.1em;
    font-weight: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.loginButton {
    text-align: center;
}

.loginButton input{
    background-color: #B8B8B8;
    width: 100px;
    color: #282828;
}

.loginButton input:hover, input:focus{
    background-color: #c4c4c4;
    color: black;
}
/* end login table classes*/

.outsideOfLoginBox{
    font-size: 1.35em;
}

.outsideOfLoginBox a{ /* inherit here is necessary to stop bootstrap css from overriding our styles*/
    font-family: Arial;
    font-size: inherit;
    color: #1264a9;
}

.outsideOfLoginBox a:hover, a:active, a:visited, a:focus{ /* same reason as above why all the link action styles are listed here */
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    font-size: inherit;
    cursor: pointer;
}

/* start login page dialogs */
.loginDialog {
    font-size: 1.3em;
    text-align: left;
}


/* end login page dialogs */
/* end login page middle */

/* start bottom of login page*/
.loginCookiesEnabledParent {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.loginCookiesEnabled {
    font-size: 1.25em;
    padding: 0.5em;
    display: inline-block;
}
/* end bottom of login page*/
/* LOGIN PAGE STYLES END */

/* TOP PAGE STYLES START */
.topPage {
    width: 100%;
    height: 60px;
}

.aboveNav {
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: left;
}

.topCenter {
    width: 33%;
    height: 100%;
    display: inline-block;
}

.topRight {
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: right;
    color: #1264a9;
    font-size: 2em;
}

.novaSubLogo {
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.mainLogo {
    height: 100%;
}

.topRightText {
    height: 100%;
}

.affiliateLogo {
    height: 100%;
}
/* TOP PAGE STYLES END */

/* SEARCH PAGE RESULTS TABLE STYLES START */
/* Please Note: The Search Results table is dynamically made in php and each row is really another tbody */
.searchResultsTable { /* TABLE */
    border: 0;
    width: 600px;
    border: 3px solid #1264a9;
    border-radius: 9px;
    border-spacing: 0px;
    background-color: white;
    empty-cells: show;
}

.searchResultsTable th { /* TABLE HEADERS */
    background-color: #1264a9;
    color: white;
}

.searchResultsTable td { /* Table Rows */
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-width: 0px 0px 2px;
    padding: 4px;
}

.searchResultsTableChildResults { /* TABLE childern results */
    background-color: lightgrey;
    color: black;
    font-size: 13pt;
}

/*
See dropit Dropit CSS JS for ACCOUNT ACTIONS in style_inc.php file
originally from:
https://dev7studios.com/dropit/
https://dev7studios.com/dropit/sample-styles.css
*/

.searchResultsTableOriginalView th { /* TABLE HEADERS */
    background-color: #1264a9;
    color: white;
}

.searchResultsTableOriginalView { /* TABLE */
    border: 3px solid #1264a9;
    border-radius: 9px;
}

.searchResultsTableOriginalView tr:last-child td:first-child { border-bottom-left-radius: 9px; }
.searchResultsTableOriginalView tr:last-child td:last-child { border-bottom-right-radius: 9px; }
/* SEARCH PAGE RESULTS TABLE STYLES END */

.subtitle {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    color: #999999;
}

.header {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #000066;
}

/* Navigation Styles Start */
.navigationBody{
    margin: 8px;
}

.navigation {
    font-family: Arial;
    font-size: 9pt;
    color: white;
    font-weight: bold;
    background-color: #1264a9;
    border: 0.1em solid #1264a9;
    border-radius: 2.5em;
    padding: 1.5em;
    text-align: left;
}

.errorFeedback {
    margin-bottom: -10px;
    font-weight: normal;
    height: 16px;
    color: #F0AD4E;
}

.menuLink div{
    font-size: 10pt;
    font-weight: normal;
    text-indent: 5px;
    width: 95%;
    color: white;
}

.menuLink:link {
    text-decoration: none;
    outline: 0;
}

.menuLink div:hover{
    background-color: white;
    border-radius: .3em;
    color: #1264a9;
}

.menuLink:visited {
    color: white;
}

.menuLink:hover {
    text-decoration: none;
}

.navSectionTitle {
    font-family: Arial;
    font-size: 11pt;
    color: white;
    text-align: center;
}

.changeDomain {
    color: #282828;
    background-color: #B8B8B8;
}

.changeDomain:hover, .changeDomain:focus {
    background-color: #c4c4c4;
    color: black;
}
/* Navigation Styles End */

.mail_settings {
    text-align: left;
}

.sidebar {
    font-family: Arial;
    font-size: 8pt;
    color: #CCCCCC;
}

.sidebarHeader {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #CCCCCC;
}

.sidebarFooter {
    font-family: Arial;
    font-size: 7pt;
    color: #999999;
}

.footer {
    font-family: Arial;
    font-size: 7pt;
    color: #666666;
}

#footerSaveButtonBar{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0 8px;
    z-index: 1002; /* must be over 1000 b\c of 'Children of this account' ACCOUNT ACTIONS .dropit-submenu */
}

#innerFooterSaveButtonBar{
    height:40px;
    color: white;
    font-size: 10pt;
    background-color: #1264A9;
    width: 80%;
    border-radius: 8px 8px 0 0;
}

#footerSaveButtonContent{
    position: relative;
    top: 20%;
}

#footerSaveButtonSpace{
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.legal {
    font-family: Arial;
    font-size: 8pt;
    color: #000000;
}

.textbox {
    font-family: Arial;
    font-size: 9pt;
    color: #000000;
    background-color: white;
    width: 100%;
}

input[type=text], input[type=text]:focus, input[type=email], input[type=email]:focus, input[type=password]:focus{ /* Deal with Chrome browser Version 49.0.2623.110 m current bug */
    background-color: white;
}

input:-webkit-autofill { /* Deal with Chrome browser Version 49.0.2623.110 m current bug */
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input.big {
    font-family: Arial;
    font-size: 9pt;
    color: #000000;
    background-color: #E6E6E6;
    width: 100px;
}

input.small {
    font-family: Arial;
    background-color: #E6E6E6;
    width: 50px;
    color: #000000;
    font-size: 9pt;

}

.content {
    font-family: Arial;
    font-size: 8pt;
    color: #000000;
    background-color: #f8f8f8;
    text-align: center;
}
a:link {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    color: #0066CC;
    text-decoration: none;
}
.contentlink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #000099;

}
.tablehead1 {
    font-family: Arial;
    background-color: #0066CC;
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}
.tablebody1 {
    font-family: Arial;
    font-size: 8pt;
    color: #000000;
    background-color: #e6e6e6;
}
.tablehead2 {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #CCCCCC;
    background-color: #000099;
}
.tablebody2 {
    font-family: Arial;
    font-size: 8pt;
    color: #000000;
    background-color: #E8F2FF;
}
.success {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bolder;
    color: #00CC00;
}
.failure {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bolder;
    color: #FF0000;
}

.navbar {
    background-color: #DEDEDE;
    width: 202px;
    border-width: 0px;

}
.main_content_table {
    width: 800px;
    border-width: 0px;
}
a.fwdopt:link {
    font-family: Arial;
    font-size: 95%;
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
}
a.fwdopt:visited {
    font-family: Arial;
    font-size: 95%;
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
}
a.fwdopt:hover {
    font-family: Arial;
    font-size: 95%;
    font-weight: normal;
    color: #0066CC;
    text-decoration: none;
}
.valignMiddle {
    vertical-align: middle;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]:disabled {
    background: #ccc;
}
.bold {
    font-weight: bold;
}
.mimicAnchor {
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}

.multiBandLoc {
    width: 20px;
}

.multiBandFreq {
    width: 30px;
}

.multiBandTr {
    display: none;
}