<html>
<link rel="stylesheet" href="/satnew/communigate-migration-tool/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/satnew/communigate-migration-tool/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="/satnew/communigate-migration-tool/css/bootstrap-table.min.css"/>
<link rel="stylesheet" href="/satnew/communigate-migration-tool/css/reports.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/satnew/communigate-migration-tool/css/bootstrap-tags.css"/>
<style>
    .error-message {
        color: red;
    }
</style>
<body style="color: black; background-color: #f8f8f8;">
<div class="container">
    {% set status = '0' %}
    {% set archivedUsers = 0 %}
    {% set emailDisabledUsers = 0 %}
    {% set errorMessage = '' %}
    {% if error == true %}
        {% set errorMessage = 'An error has occurred in the migration process.  Please contact NeoNova support. ' %}
    {% endif %}
    <div class="error-message" id="errorMessageArea">{{ errorMessage }}</div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Parent</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">benlomand.net User ID</th>
            <th scope="col">Password</th>
            <th scope="col">Status</th>
            {#<th scope="col">Message</th>#}
        </tr>
        </thead>
        <tbody>
        {% for user in data %}
            {% if user.status > status %}
                {% set status = user.status %}
            {% endif %}
            {% if user.isArchived == 'yes' %}
                {% set archivedUsers = archivedUsers + 1 %}
            {% endif %}
            {% if user.isEmailDisabled == 'yes' %}
                {% set emailDisabledUsers = emailDisabledUsers + 1 %}
            {% endif %}
            <tr>
                {% if user.useridofparent is not empty %}
                    <td style="padding-left: 20px;">{{ user.userid }}
                        {% if user.isArchived == 'yes' %}
                            <small>(archived)</small>
                        {% endif %}
                        {% if user.isEmailDisabled == 'yes' %}
                            <small>(email disabled)</small>
                        {% endif %}
                        {% if user.isEmailForwarded == 'yes' %}
                            <small>(forwarded to {{ user.emailForwardAddress }})</small>
                        {% endif %}
                        {% if (user.isUseridAvailable == 'no' and user.migrationStatus == 0) %}
                            <br/>
                            <small>not available on benlomand.net</small>
                        {% endif %}</td>
                {% else %}
                    <td>{{ user.userid }}
                        {% if user.isArchived == 'yes' %}
                            <small>(archived)</small>
                        {% endif %}
                        {% if user.isEmailDisabled == 'yes' %}
                            <small>(email disabled)</small>
                        {% endif %}
                        {% if user.isEmailForwarded == 'yes' %}
                            <small>(forwarded to {{ user.emailForwardAddress }})</small>
                        {% endif %}
                        {% if (user.isUseridAvailable == 'no' and user.migrationStatus == 0) %}
                            <br/>
                            <small>not available on benlomand.net</small>
                        {% endif %}</td>
                    {% set status = user.migrationStatus %}
                {% endif %}
                <td>{{ user.useridofparent }}</td>
                <td>
                    <input {% if user.isArchived == 'yes' or user.migrationStatus > 0 or error == true or user.isEmailDisabled == 'yes' %}disabled{% endif %}
                           type="text" size="10" value="{{ user.firstname }}" id="targetFirstName_{{ user.userid }}">
                </td>
                <td>
                    <input {% if user.isArchived == 'yes' or user.migrationStatus > 0 or error == true or user.isEmailDisabled == 'yes' %}disabled{% endif %}
                           type="text" size="10" value="{{ user.lastname }}" id="targetLastName_{{ user.userid }}"></td>
                <td>{% if user.migrationStatus > 0 %} {{ user.targetUserid }} {% else %}
                    <div id="targetAvailabilityMsg_{{ user.userid }}"></div>
                        {% if (user.isUseridAvailable == 'no' and user.isArchived == 'no') %}
                        <form id="checkUserid_{{ user.userid }}" action="">
                            <input type="text" id="useridToCheck_{{ user.userid }}">
                            <input type="hidden" id="userid" value="{{ user.userid }}">
                            <input type="submit" value="Check availability">
                            </form>
                        {% elseif user.isArchived == 'yes' %}Must be un-archived before migration
                        {% else %}{{ user.targetUserid }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <input {% if user.isArchived == 'yes' or user.migrationStatus > 0 or error == true or user.isEmailDisabled == 'yes' %}disabled{% endif %}
                           type="text" size="10" id="targetPassword_{{ user.userid }}"></td>
                <td>{% if user.isArchived == 'no' %}{{ user.migrationStatusText }}{% endif %}</td>
                {#<td>{{ user.message }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if archivedUsers > 0 %}
        {% set errorMessage = errorMessage ~ 'All user IDs (parent and children) must be un-archived before migration can begin. ' %}
    {% endif %}
    {% if emailDisabledUsers > 0 %}
        {% set errorMessage = errorMessage ~ 'All user email must be enabled before migration can begin. ' %}
    {% endif %}
    {#<div id="debug">status is {{ status }} archivedUsers is {{ archivedUsers }}</div>#}
    <div id="messageArea">{{ message }}</div>
    {#{%  if status == 0 %}#}
    <div id="submitButton">
        <form id="addTargetUsers">
            <input type="hidden" id="userids"
                   value="{% set firstIteration = true %}{% for user in data %}{% if firstIteration %}{% set firstIteration = false %}{% else %}||{% endif %}{% if user.isUseridAvailable == 'no' %}[{% endif %}{{ user.userid }}{% if user.isUseridAvailable == 'no' %}]{% endif %}{% endfor %}">
            <input type="hidden" id="domain" value="{{ domain }}">
            <input type="hidden" id="errorMessage" value="{{ errorMessage }}">
            {% if archivedUsers == 0 and status == 0 and emailDisabledUsers == 0 %}
                <input type="submit" value="Start Migration">
            {% endif %}
        </form>
    </div>
    <div id="waitingMessageArea" style="display:none">Please wait...</div>
    {#{% endif %}#}
</div>
<script src="/satnew/communigate-migration-tool/js/jquery.min.js"></script>
<script src="/satnew/communigate-migration-tool/js/bootstrap.min.js"></script>
<script src="/satnew/communigate-migration-tool/js/bootstrap-table.min.js"></script>
<script>
    $(document).ready(function() {

        function sanitizeUserid( userid ) {

            return userid.replace( /(:|\.|\[|\]|,|=|@)/g, "\\$1" );

        }

        function checkPassword(password) {

            // must have at least three of the following: a lowercase letter, an uppercase letter, a digit and a punctuation mark

            var count = 0;

            var lowerCase = /[a-z]/;
            var upperCase = /[A-Z]/;
            var digit = /[0-9]/;
            var punctuationMark = /[^a-z0-9]/i;

            count += (lowerCase.test(password)) ? 1 : 0;
            count += (upperCase.test(password)) ? 1 : 0;
            count += (digit.test(password)) ? 1 : 0;
            count += (punctuationMark.test(password)) ? 1 : 0;

            return count;

        }

        $('#waitingMessageArea').hide();

        var baseURL = 'http://scott.dev.neonova.net/communigate-migration-tool';

        // We built a string of the userids with Twig, delimited by ||
        // Split them into an array useridsArray

        var errorMessage = $('#errorMessage').val();
        $('#errorMessageArea').text(errorMessage);
        var userids = $( "#userids" ).val();
        var useridsArray = userids.split("||");
        // alert(useridsArray);
        var domain = $( "#domain" ).val();
        var password3Of4Message = "Password must have at least three of the following: a lowercase letter, an uppercase letter, a digit or a punctuation mark";

        // set an onchange function for each of the password fields to check for 3of4 compliance

        $.each(useridsArray, function (i, val) {
            var userid;
            var useridToCheck = useridsArray[i].trim();
            if (useridToCheck.indexOf("]") !== -1) {
                var toCheckArray = useridToCheck.split("]");
                userid = toCheckArray[0].trim().slice(1);
            } else {
                userid = useridToCheck;
            }
            $('#targetPassword_' + userid).change(function () {
                var password = $('#targetPassword_' + userid).val();
                var reg = /;/;
                if (reg.test(password)) {
                    alert("Invalid character \";\"");
                    $(this).val('');
                } else if (checkPassword(password) < 3) {
                    alert(password3Of4Message);
                    $(this).val('');
                }
            });
        });

        //
        // We built an array useridsArray to keep track of userid changes, it looks like this:
        //
        // neoparent201,[neochild201_1],neochild201_2,[neochild201_3]
        //
        // If the source userid (from blomand.net or volfirst.net) already exists on benlomand.net, we put brackets []
        // around the userid, like this: [neoparent201]
        //
        // When the user selects an alternative userid, we append it to the bracketed source userid, like this:
        // [neoparent201]neoparent201_99
        //

        $("[id^=checkUserid_]").submit(function (e) {

            e.preventDefault();

            var formId = $(this).attr("id");

            // we can't use dots in the form ids

            var userid = formId.slice(12);
            var sanitizedUserid = sanitizeUserid(userid);

            // var url = "http://scott.dev.neonova.net/xml-sat/public_html/NNSAPI.fcgi";
            var url = baseURL+"/check_userid.php";
            var useridToCheck = $('#useridToCheck_'+sanitizedUserid).val();

            // check for duplicate userids
            var duplicateCheck = [];
            var duplicateFound = false;
            $.each(useridsArray, function (i, val) {
                var toCheck = useridsArray[i].trim();
                if (toCheck.indexOf("]") !== -1) {
                    var toCheckArray = toCheck.split("]");
                    toCheck = toCheckArray[1].trim();
                    if (toCheck.length == 0) {
                        return;
                    } else {
                        duplicateCheck.push(toCheck);
                    }
                }
                if (duplicateCheck.indexOf(useridToCheck) !== -1) {
                    duplicateFound = true;
                }
            });

            // userid can't start or end with period and can't have double period

            var reg1 = /[a-z0-9_\.]+/;
            var reg2 = /^\./;
            var reg3 = /\.$/;
            var reg4 = /.*\.\..*/;
            if (!reg1.test(useridToCheck)) {
                alert('Invalid user ID, valid characters are: a-z 0-9 _ .');
                $('#useridToCheck_'+sanitizedUserid).val('');
            } else if (reg2.test(useridToCheck) || reg3.test(useridToCheck)) {
                alert('User ID can\'t begin or end with "."');
                $('#useridToCheck_'+sanitizedUserid).val('');
            } else if (reg4.test(useridToCheck)) {
                alert('User ID can\'t contain ".."');
                $('#useridToCheck_'+sanitizedUserid).val('');
            } else if (duplicateFound) {
                alert('User ID already in use');
                $('#useridToCheck_'+sanitizedUserid).val('');
            } else {

                var getData = {'userid': useridToCheck};

                $.ajax({
                    type: "GET",
                    url: url,
                    data: getData,
                    success: function (data) {
                        $(data).find('status').each(function () {
                            var message = $(this).find('message').text();
                            if (message.toLowerCase() == 'user id available') {
                                $.each(useridsArray, function (i, val) {
                                    if (val.indexOf('['+userid+']') >= 0) {
                                        useridsArray[i] = '['+userid+']' + useridToCheck;
                                        $('#targetAvailabilityMsg_' + sanitizedUserid).text(useridToCheck + " (available)");
                                        $('#useridToCheck_' + sanitizedUserid).val('');
                                    }
                                });
                            } else {
                                $.each(useridsArray, function (i, val) {
                                    if (val.indexOf('['+userid+']') >= 0) {
                                        useridsArray[i] = '['+userid+']';
                                        $('#targetAvailabilityMsg_' + sanitizedUserid).text('');
                                        //$('#useridToCheck_' + userid).val('');
                                    }
                                });
                            }
                        });
                        // alert(useridsArray);
                    }
                });

            }

        });

        $("#addTargetUsers").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            $('#waitingMessageArea').show();

            var dataArray = [];

            var fieldsComplete = true;
            var requiredFieldsMissing = false;
            var requiredFieldsMissingMessage = '';

            //alert(useridsArray);

            // check for empty userid fields
            $.each(useridsArray, function (i, val) {
                var toCheck = useridsArray[i].trim();
                var sourceUserid = toCheck;
                if (toCheck.indexOf("]") !== -1) {
                    var toCheckArray = toCheck.split("]");
                    toCheck = toCheckArray[1].trim();
                    sourceUserid = toCheckArray[0].trim().slice(1);
                    if (toCheck.length == 0) {
                        requiredFieldsMissing = true;
                        requiredFieldsMissingMessage += 'An alternate user ID must be selected for '+sourceUserid+'. ';
                    } else {
                        return;
                    }
                }
            });

            if (requiredFieldsMissing) {
                //alert('User ID fields not complete');
                //$('#errorMessageArea').text(requiredFieldsMissingMessage);
                alert(requiredFieldsMissingMessage);
                $('#waitingMessageArea').hide();
                return false;
            } else {
                $('#errorMessageArea').text('');

                // [neoparent201]neoparent201_99,[neochild201_1]neochild201_111,neochild201_2,[neochild201_3]bbbbb

                // assemble the form fields, check for empty password fields
                $.each(useridsArray, function (i, val) {

                    var userid;
                    var targetUserid;
                    var useridToCheck = useridsArray[i].trim();
                    if (useridToCheck.indexOf("]") !== -1) {
                        var toCheckArray = useridToCheck.split("]");
                        userid = toCheckArray[0].trim().slice(1);
                        targetUserid = toCheckArray[1].trim();
                    } else {
                        userid = useridToCheck;
                        targetUserid = userid;
                    }

                    var sanitizedUserid = sanitizeUserid(userid);

                    var firstName = $('#targetFirstName_' + sanitizedUserid).val();
                    var lastName = $('#targetLastName_' + sanitizedUserid).val();
                    var password = $('#targetPassword_' + sanitizedUserid).val();

                    if (password.length == 0) {
                        requiredFieldsMissing = true;
                        requiredFieldsMissingMessage += 'A password must be selected for '+targetUserid+'. ';
                    }

                    var dataObject = {
                        userid: userid,
                        targetUserid: targetUserid,
                        firstName: firstName,
                        lastName: lastName,
                        password: password
                    }

                    dataArray.push(dataObject);

                });

            }

            if (requiredFieldsMissing) {
                //$('#errorMessageArea').text(requiredFieldsMissingMessage);
                alert(requiredFieldsMissingMessage);
                $('#waitingMessageArea').hide();
                return false;
            }

            // var url = "http://scott.dev.neonova.net/xml-sat/public_html/NNSAPI.fcgi";
            var url = baseURL+"/add_users.php";
            var postData = {
                //userids : useridsArray,
                domain : domain,
                userData : dataArray,
            };

            var message = "";

            $.ajax({
                type: "POST",
                url: url,
                data: postData,
                success: function (data) {
                    $(data).find('status').each(function() {
                        message = $(this).find('message').text();
                        // alert(message);
                    });
                    // alert('redirecting to '+"/index.php?userid="+useridsArray[0]+"&domain="+domain);
                    window.location = baseURL+"/index.php?userid="+useridsArray[0]+"&domain="+domain+"&message="+message;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });
    });
</script>
</body>
</html>
